.page {
    position: relative;
    display: grid;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}
.minified .sidebar {
    z-index: 10;
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        grid-template-columns: 250px 1fr;
        transition: grid .5s;
    }
    .page.minified {
        grid-template-columns: 80px 1fr;
    }
    .sidebar {
        height: 100vh;
        position: sticky;
        top: 0;
        left: 0;
        transition: left .3s;
    }
    .page.closed {
        display: block;
    }
    .page.closed .sidebar {
        width: 250px;
        left: -242px;
        position: fixed;
        z-index: 2;
    }
    .page.closed .sidebar.expanded {
        left: 0;
    }
    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#shortcut-bg-layer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 29;
    display: none;
}
#shortcut-bg-layer.show {
    display: block;
}
#shortcut {
    position: absolute;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-color: #33302F;
    background-color: rgba(0,0,0,.85);
    z-index: 30;
    display: none;
    color: #fff;
    box-sizing: border-box;
}
#shortcut.show {
    display: block;
}
#shortcut ul {
    padding: 15px 20px 10px;
    list-style: none;
    margin: 0;
    box-shadow: 0 4px 10px rgba(0,0,0,.3);
    border-bottom: 1px solid #423F3F;
}
#shortcut ul li {
    display: inline-block;
    width: auto;
}
.jarvismetro-tile {
    float: left;
    display: block;
    background-color: #fff;
    width: 100px;
    height: 70px;
    cursor: pointer;
    box-shadow: inset 0 0 1px #FFC;
    border: 1px dotted #C5C5C5;
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    margin: 0 10px 20px 0;
    padding: 5px;
    position: relative;
}
#shortcut ul li .jarvismetro-tile {
    margin: 0 3px 3px;
    border: none;
    border-radius: 0;
}

#shortcut ul li .jarvismetro-tile:hover {
    color: #fff;
    text-decoration: none
}

#shortcut ul li .jarvismetro-tile:active, #shortcut ul li .jarvismetro-tile:focus {
    left: 0;
    top: 0
}
.jarvismetro-tile .iconbox i {
    display: block;
    margin: 15px auto 0;
    height: 75px;
}
.jarvismetro-tile .iconbox {
    text-align: center;
}
.jarvismetro-tile .iconbox span {
    display: block;
    text-align: left;
}
.bg-color-blue {
    background-color: #57889c !important;
}
.bg-color-orangeDark {
    background-color: #a57225 !important;
}
.bg-color-purple {
    background-color: #6e587a !important;
}
.bg-color-blueDark {
    background-color: #4c4f53 !important;
}
.bg-color-greenLight {
    background-color: #71843f !important;
}
.bg-color-pinkDark {
    background-color: #a8829f !important;
}
.jarvismetro-tile.big-cubes {
    width: 120px;
    height: 120px;
}
.jarvismetro-tile .iconbox span > span {
    position: absolute;
    right: -3px;
    bottom: -3px;
    border-radius: 50%;
    padding: 5px;
    font-size: 12px;
    border: 1px solid #fff;
    line-height: 1;
}
.jarvismetro-tile .iconbox span {
    display: block;
    text-align: left;
}
.bg-color-darken {
    background-color: #404040 !important;
}