<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">S<span>ample</span>A<span>pp</span></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3 @ShowSubMenuCssClass" @onmouseenter="ExpandSubMenu" @onmouseleave="CollapseSubMenu">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> <span class="nav-text">Home</span>
                <b class="collapse-sign" @onclick="ToggleSubMenu"><em class="fa @CollapseIconCssClass"></em></b>
            </NavLink>
            <ul class="sub-links @SubMenuCssClass">
                <li>
                    <a href="sub">Sublink</a>
                </li>
                <li>
                    <a href="sub">Sublink</a>
                </li>
                <li>
                    <a href="sub">Sublink</a>
                </li>
            </ul>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> <span class="nav-text">Counter</span>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> <span class="nav-text">Fetch data</span>
            </NavLink>
        </div>
    </nav>
</div>

@code {

    private bool showSubMenu = false;

    private string? SubMenuCssClass => showSubMenu ? "show" : null;
    private string? CollapseIconCssClass => showSubMenu ? "fa-minus-square-o" : "fa-plus-square-o";

    private void ToggleSubMenu()
    {
        showSubMenu = !showSubMenu;
    }

    private bool showSubMenuAsFloat = false;

    private string? ShowSubMenuCssClass => showSubMenuAsFloat ? "show-sub-menu" : null;

    private void ExpandSubMenu()
    {
        showSubMenuAsFloat = true;
    }
    private void CollapseSubMenu()
    {
        showSubMenuAsFloat = false;
    }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
