.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand {
    font-size: 1.1rem;
}

.oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

    .nav-item ::deep a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        white-space: nowrap;
    }

.nav-item ::deep a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item ::deep a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.minified .nav-item .nav-text {
    display: none;
}
.minified .navbar-brand > span {
    display: none;
}
.nav-item .oi {
    width: auto;
    margin-right: 1em;
}

.sub-links {
    margin: 0;
    display: none;
    padding: 7px 0;
    position: relative;
}
.sub-links.show {
    display: block;
}
.minified .show-sub-menu .sub-links {
    display: block;
    position: absolute;
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
    left: 60px;
    top: 80px;
}
.sub-links::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    left: 23px;
    top: 0;
    bottom: 0;
    border-left: 1px solid #7A7A7A;
}
.sub-links a {
    padding-left: 42px;
    font-size: 14px;
    font-weight: 400;
    outline: 0;
    padding-top: 7px;
    padding-bottom: 7px;
    height: 2.4em;
    text-decoration: none;
}
.minified .show-sub-menu .sub-links a {
    padding-right: 4em;
}
.sub-links li {
    position: relative;
    list-style: none;
}
.sub-links li::before {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    left: 23px;
    top: 16px;
    border-top: 1px solid #7A7A7A;
    z-index: 1;
}
.collapse-sign {
    margin-left: auto;
}
.minified .collapse-sign {
    display: none;
}

@media (min-width: 641px) {
    .navbar-toggler {
        display: none;
    }

    .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
        overflow-x: hidden;
    }
}
